<div class="art-img" style="background: url(<%= @article.image_url %>); background-size: 100% 100%; background-repeat: no-repeat; background-position: center">
  <div class="content-con">
    <h5 class="art-head"><%= @article.title %></h5>
    <p class="art-con">
      <%= truncate(@article.text, length: 100) %>
    </p>
  </div>
</div>