<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-4">
				<h2 class="title is-2">Sign up</h2>

        <%= render 'form', user: @user %>

        <%= link_to 'Back', users_path %>
        <br />
      
    </div>
		</div>
	</div>
</section>