<%= link_to unlike_article_path(article), method: :put, class: "unlike_article" do %>
  <span class="icon"><i class="fa fa-heart has-text-primary"></i></span>
  <span class="vote_count"><%= article.get_likes.size %></span>
<% end %>