/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 $color: #4E443E;
//  @import 'bulma';
@import 'uniset';

.nav-content {
  display: flex;
  background: #fff;
  color: #4E443E;
  .nav-brand {
    display: flex;
    width: 70%;
    border-bottom: 4px solid #4E443E;
    padding: 22px 0;
    .brand {
      grid-column: 1/3;
    .brand-font {
      font-family: 'Permanent Marker', cursive;
      color: #4E443E;
      font-size: 30px;
      }
    }
    .nav-links {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-left: auto;
      width: 60%;
    }
  }
  a {
    text-decoration: none;
    color: #4E443E;
  }
  .session-box {
    margin-left: auto;
    padding: 22px 0;
  }
}

.image {
  border-radius: 50%;
  img {
    border-radius: 50%;
  }
}